@font-face {
    font-family: 'Megadroid';
    src: url('Megadroid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Megadroid", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
.cd {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(
        gold 0deg 30deg,
        transparent 30deg 60deg,
        gold 60deg 90deg,
        transparent 90deg 120deg,
        gold 120deg 150deg,
        transparent 150deg 180deg,
        gold 180deg 210deg,
        transparent 210deg 240deg,
        gold 240deg 270deg,
        transparent 270deg 300deg,
        gold 300deg 330deg,
        transparent 330deg 360deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateForward 10s linear infinite;
}

.ic{
    width:240px;
    height:240px;
    background-color:#202020;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd-1{
    width:220px;
    height:220px;
    background-color:cyan;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(
        gold 0deg 3deg,
        transparent 3deg 6deg,
        gold 6deg 9deg,
        transparent 9deg 12deg,
        gold 12deg 15deg,
        transparent 15deg 18deg,
        gold 18deg 21deg,
        transparent 21deg 24deg,
        gold 24deg 27deg,
        transparent 27deg 30deg,
        gold 30deg 33deg,
        transparent 33deg 36deg,
        gold 36deg 39deg,
        transparent 39deg 42deg,
        gold 42deg 45deg,
        transparent 45deg 48deg,
        gold 48deg 51deg,
        transparent 51deg 54deg,
        gold 54deg 57deg,
        transparent 57deg 60deg,
        gold 60deg 63deg,
        transparent 63deg 66deg,
        gold 66deg 69deg,
        transparent 69deg 72deg,
        gold 72deg 75deg,
        transparent 75deg 78deg,
        gold 78deg 81deg,
        transparent 81deg 84deg,
        gold 84deg 87deg,
        transparent 87deg 90deg,
        gold 90deg 93deg,
        transparent 93deg 96deg,
        gold 96deg 99deg,
        transparent 99deg 102deg,
        gold 102deg 105deg,
        transparent 105deg 108deg,
        gold 108deg 111deg,
        transparent 111deg 114deg,
        gold 114deg 117deg,
        transparent 117deg 120deg,
        gold 120deg 123deg,
        transparent 123deg 126deg,
        gold 126deg 129deg,
        transparent 129deg 132deg,
        gold 132deg 135deg,
        transparent 135deg 138deg,
        gold 138deg 141deg,
        transparent 141deg 144deg,
        gold 144deg 147deg,
        transparent 147deg 150deg,
        gold 150deg 153deg,
        transparent 153deg 156deg,
        gold 156deg 159deg,
        transparent 159deg 162deg,
        gold 162deg 165deg,
        transparent 165deg 168deg,
        gold 168deg 171deg,
        transparent 171deg 174deg,
        gold 174deg 177deg,
        transparent 177deg 180deg,
        gold 180deg 183deg,
        transparent 183deg 186deg,
        gold 186deg 189deg,
        transparent 189deg 192deg,
        gold 192deg 195deg,
        transparent 195deg 198deg,
        gold 198deg 201deg,
        transparent 201deg 204deg,
        gold 204deg 207deg,
        transparent 207deg 210deg,
        gold 210deg 213deg,
        transparent 213deg 216deg,
        gold 216deg 219deg,
        transparent 219deg 222deg,
        gold 222deg 225deg,
        transparent 225deg 228deg,
        gold 228deg 231deg,
        transparent 231deg 234deg,
        gold 234deg 237deg,
        transparent 237deg 240deg,
        gold 240deg 243deg,
        transparent 243deg 246deg,
        gold 246deg 249deg,
        transparent 249deg 252deg,
        gold 252deg 255deg,
        transparent 255deg 258deg,
        gold 258deg 261deg,
        transparent 261deg 264deg,
        gold 264deg 267deg,
        transparent 267deg 270deg,
        gold 270deg 273deg,
        transparent 273deg 276deg,
        gold 276deg 279deg,
        transparent 279deg 282deg,
        gold 282deg 285deg,
        transparent 285deg 288deg,
        gold 288deg 291deg,
        transparent 291deg 294deg,
        gold 294deg 297deg,
        transparent 297deg 300deg,
        gold 300deg 303deg,
        transparent 303deg 306deg,
        gold 306deg 309deg,
        transparent 309deg 312deg,
        gold 312deg 315deg,
        transparent 315deg 318deg,
        gold 318deg 321deg,
        transparent 321deg 324deg,
        gold 324deg 327deg,
        transparent 327deg 330deg,
        gold 330deg 333deg,
        transparent 333deg 336deg,
        gold 336deg 339deg,
        transparent 339deg 342deg,
        gold 342deg 345deg,
        transparent 345deg 348deg,
        gold 348deg 351deg,
        transparent 351deg 354deg,
        gold 354deg 357deg,
        transparent 357deg 360deg
    );
    animation: rotateBackward 5s linear infinite;
}
.ic-1{
    width:200px;
    height:200px;
    background-color:#202020;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd-2 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border:2px dotted gold;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateForward 10s linear infinite;
}
.ic-2{
    width:160px;
    height:160px;
    background-color:#202020;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd-3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(
        gold 0deg 30deg,
        transparent 30deg 60deg,
        gold 60deg 90deg,
        transparent 90deg 120deg,
        gold 120deg 150deg,
        transparent 150deg 180deg,
        gold 180deg 210deg,
        transparent 210deg 240deg,
        gold 240deg 270deg,
        transparent 270deg 300deg,
        gold 300deg 330deg,
        transparent 330deg 360deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateBackward 10s linear infinite;
}
.ic-3{
    width:140px;
    height:140px;
    background-color:#202020;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd-4 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(
        gold 0deg 3deg,
        transparent 3deg 6deg,
        gold 6deg 9deg,
        transparent 9deg 12deg,
        gold 12deg 15deg,
        transparent 15deg 18deg,
        gold 18deg 21deg,
        transparent 21deg 24deg,
        gold 24deg 27deg,
        transparent 27deg 30deg,
        gold 30deg 33deg,
        transparent 33deg 36deg,
        gold 36deg 39deg,
        transparent 39deg 42deg,
        gold 42deg 45deg,
        transparent 45deg 48deg,
        gold 48deg 51deg,
        transparent 51deg 54deg,
        gold 54deg 57deg,
        transparent 57deg 60deg,
        gold 60deg 63deg,
        transparent 63deg 66deg,
        gold 66deg 69deg,
        transparent 69deg 72deg,
        gold 72deg 75deg,
        transparent 75deg 78deg,
        gold 78deg 81deg,
        transparent 81deg 84deg,
        gold 84deg 87deg,
        transparent 87deg 90deg,
        gold 90deg 93deg,
        transparent 93deg 96deg,
        gold 96deg 99deg,
        transparent 99deg 102deg,
        gold 102deg 105deg,
        transparent 105deg 108deg,
        gold 108deg 111deg,
        transparent 111deg 114deg,
        gold 114deg 117deg,
        transparent 117deg 120deg,
        gold 120deg 123deg,
        transparent 123deg 126deg,
        gold 126deg 129deg,
        transparent 129deg 132deg,
        gold 132deg 135deg,
        transparent 135deg 138deg,
        gold 138deg 141deg,
        transparent 141deg 144deg,
        gold 144deg 147deg,
        transparent 147deg 150deg,
        gold 150deg 153deg,
        transparent 153deg 156deg,
        gold 156deg 159deg,
        transparent 159deg 162deg,
        gold 162deg 165deg,
        transparent 165deg 168deg,
        gold 168deg 171deg,
        transparent 171deg 174deg,
        gold 174deg 177deg,
        transparent 177deg 180deg,
        gold 180deg 183deg,
        transparent 183deg 186deg,
        gold 186deg 189deg,
        transparent 189deg 192deg,
        gold 192deg 195deg,
        transparent 195deg 198deg,
        gold 198deg 201deg,
        transparent 201deg 204deg,
        gold 204deg 207deg,
        transparent 207deg 210deg,
        gold 210deg 213deg,
        transparent 213deg 216deg,
        gold 216deg 219deg,
        transparent 219deg 222deg,
        gold 222deg 225deg,
        transparent 225deg 228deg,
        gold 228deg 231deg,
        transparent 231deg 234deg,
        gold 234deg 237deg,
        transparent 237deg 240deg,
        gold 240deg 243deg,
        transparent 243deg 246deg,
        gold 246deg 249deg,
        transparent 249deg 252deg,
        gold 252deg 255deg,
        transparent 255deg 258deg,
        gold 258deg 261deg,
        transparent 261deg 264deg,
        gold 264deg 267deg,
        transparent 267deg 270deg,
        gold 270deg 273deg,
        transparent 273deg 276deg,
        gold 276deg 279deg,
        transparent 279deg 282deg,
        gold 282deg 285deg,
        transparent 285deg 288deg,
        gold 288deg 291deg,
        transparent 291deg 294deg,
        gold 294deg 297deg,
        transparent 297deg 300deg,
        gold 300deg 303deg,
        transparent 303deg 306deg,
        gold 306deg 309deg,
        transparent 309deg 312deg,
        gold 312deg 315deg,
        transparent 315deg 318deg,
        gold 318deg 321deg,
        transparent 321deg 324deg,
        gold 324deg 327deg,
        transparent 327deg 330deg,
        gold 330deg 333deg,
        transparent 333deg 336deg,
        gold 336deg 339deg,
        transparent 339deg 342deg,
        gold 342deg 345deg,
        transparent 345deg 348deg,
        gold 348deg 351deg,
        transparent 351deg 354deg,
        gold 354deg 357deg,
        transparent 357deg 360deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateForward 5s linear infinite;
}
.ic-4{
    width:100px;
    height:100px;
    background-color:#202020;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd-5 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:2px dotted gold;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateBackward 10s linear infinite;
}
.ic-5{
    width:60px;
    height:60px;
    background-color:#202020;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cd-6 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(
        gold 0deg 30deg,
        transparent 30deg 60deg,
        gold 60deg 90deg,
        transparent 90deg 120deg,
        gold 120deg 150deg,
        transparent 150deg 180deg,
        gold 180deg 210deg,
        transparent 210deg 240deg,
        gold 240deg 270deg,
        transparent 270deg 300deg,
        gold 300deg 330deg,
        transparent 330deg 360deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateForward 5s linear infinite;
}
.ic-6{
    width:53px;
    height:53px;
    background-color:#202020;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.core{
    width:40px;
    height:40px;
    background-color:gold;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0.7;
}
@keyframes rotateForward {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateBackward {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
