body{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#202020;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main{
    width: fit-content;
    height: fit-content;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:25vh;
}
.main .c-1{
    width:250px;
    height:250px;
    background-color:blueviolet;
    border-radius:100%;
    box-shadow: 0 0 30px blueviolet, 0 0 50px blueviolet, 0 0 70px blueviolet;
    transition: box-shadow 0.3s ease-in-out;
}
.main .c-2{
    width:245px;
    height:245px;
    background-color: #202020;
    border-radius:100%;
    position: absolute;
}
.spinner{
    width:350px;
    height:350px;
    border-radius:100%;
    position:absolute;
    top:21vh;
    left:38.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 8s linear infinite;
}
.spinner div{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 30px #8a2be2, 0 0 50px blueviolet, 0 0 70px blueviolet;
    transition: box-shadow 0.3s ease-in-out;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(365deg);
    }
}